openapi: "3.0.0"
info:
  version: 0.2.0
  title: Tiny Systems API
  description: Public [Tiny Systems](https://tinysystems.io/) API

servers:
  - url: https://api.tinysystems.io
    description: Tiny Systems API server

paths:
  /health:
    get:
      operationId: health-check
      tags:
        - healthcheck
      description: Health check endpoint
      security: []
      responses:
        200:
          description: Success
  /devtools/publish-module:
    post:
      operationId: publish-module
      tags:
        - devtools
      description: |
        Registers module and returns credentials for push
      security:
        - DeveloperToken: []
      requestBody:
        description: Publish module request
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PublishModuleRequest"
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublishModuleResult"
  /solutions/export:
    get:
      operationId: export-solution
      tags:
        - solutions
      summary: Export solution using one-time token
      description: |
        Returns solution export JSON. Requires a valid one-time token
        obtained via gRPC CreateExportToken.
      security: []
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
          description: One-time export token
      responses:
        200:
          description: Solution export JSON
          content:
            application/json:
              schema:
                type: object
                additionalProperties: {}
        401:
          description: Invalid or expired token
        404:
          description: Solution not found
  # Support - Public endpoints (signed URL auth)
  /support/tickets:
    post:
      operationId: create-support-ticket
      tags:
        - support
      summary: Create a support ticket
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateTicketRequest"
      responses:
        201:
          description: Ticket created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateTicketResponse"
        400:
          description: Invalid request
    get:
      operationId: list-support-tickets
      tags:
        - support
      summary: List tickets for an email (signed URL auth)
      security: []
      parameters:
        - name: email
          in: query
          required: true
          schema:
            type: string
        - name: expires
          in: query
          required: true
          schema:
            type: string
        - name: sig
          in: query
          required: true
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        200:
          description: Ticket list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TicketListResponse"
        401:
          description: Invalid or expired signature
  /support/tickets/{uuid}:
    get:
      operationId: get-support-ticket
      tags:
        - support
      summary: Get ticket details (signed URL auth)
      security: []
      parameters:
        - name: uuid
          in: path
          required: true
          schema:
            type: string
        - name: email
          in: query
          required: true
          schema:
            type: string
        - name: expires
          in: query
          required: true
          schema:
            type: string
        - name: sig
          in: query
          required: true
          schema:
            type: string
      responses:
        200:
          description: Ticket with messages
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TicketDetailResponse"
        401:
          description: Invalid or expired signature
        404:
          description: Ticket not found
  /support/tickets/{uuid}/messages:
    post:
      operationId: add-support-ticket-message
      tags:
        - support
      summary: Add message to ticket (signed URL auth)
      security: []
      parameters:
        - name: uuid
          in: path
          required: true
          schema:
            type: string
        - name: email
          in: query
          required: true
          schema:
            type: string
        - name: expires
          in: query
          required: true
          schema:
            type: string
        - name: sig
          in: query
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddMessageRequest"
      responses:
        201:
          description: Message added
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TicketMessage"
        401:
          description: Invalid or expired signature
        404:
          description: Ticket not found
  /support/tickets/{uuid}/resolve:
    post:
      operationId: resolve-support-ticket
      tags:
        - support
      summary: Resolve ticket (signed URL auth)
      security: []
      parameters:
        - name: uuid
          in: path
          required: true
          schema:
            type: string
        - name: email
          in: query
          required: true
          schema:
            type: string
        - name: expires
          in: query
          required: true
          schema:
            type: string
        - name: sig
          in: query
          required: true
          schema:
            type: string
      responses:
        200:
          description: Ticket resolved
        401:
          description: Invalid or expired signature
        404:
          description: Ticket not found

  # Support - Admin endpoints (session auth)
  /support/admin/tickets:
    get:
      operationId: list-admin-support-tickets
      tags:
        - support-admin
      summary: List all tickets (team dashboard)
      parameters:
        - name: status
          in: query
          schema:
            type: string
        - name: priority
          in: query
          schema:
            type: string
        - name: search
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        200:
          description: Ticket list
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TicketListResponse"
        401:
          description: Unauthorized
  /support/admin/tickets/{uuid}:
    get:
      operationId: get-admin-support-ticket
      tags:
        - support-admin
      summary: Get ticket details (team dashboard)
      parameters:
        - name: uuid
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: Ticket with messages
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TicketDetailResponse"
        401:
          description: Unauthorized
        404:
          description: Ticket not found
    patch:
      operationId: update-admin-support-ticket
      tags:
        - support-admin
      summary: Update ticket (status, assignee, priority)
      parameters:
        - name: uuid
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateTicketRequest"
      responses:
        200:
          description: Ticket updated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Ticket"
        401:
          description: Unauthorized
        404:
          description: Ticket not found
  /support/admin/tickets/{uuid}/messages:
    post:
      operationId: add-admin-support-ticket-message
      tags:
        - support-admin
      summary: Add agent reply to ticket
      parameters:
        - name: uuid
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddMessageRequest"
      responses:
        201:
          description: Message added
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TicketMessage"
        401:
          description: Unauthorized
        404:
          description: Ticket not found
  /support/admin/stats:
    get:
      operationId: get-support-stats
      tags:
        - support-admin
      summary: Get ticket statistics
      responses:
        200:
          description: Ticket statistics
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TicketStats"
        401:
          description: Unauthorized

  /devtools/update-module-version:
    post:
      operationId: update-module-version
      tags:
        - devtools
      description: |
        Update module version with image information
      security:
        - DeveloperToken: []
      requestBody:
        description: Module Version ID, image information
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateModuleVersionRequest"
      responses:
        200:
          description: Success
components:
  schemas:
    NodeStatisticsMap:
      type: object
      additionalProperties: {}

    PublishModuleResult:
      type: object
      properties:
        module:
          $ref: "#/components/schemas/PublishModuleVersion"
        options:
          $ref: "#/components/schemas/BuildPushOptions"
    PublishModuleVersion:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        version:
          type: string
      required:
        - id
        - name
        - version
    BuildPushOptions:
      type: object
      properties:
        username:
          type: string
        password:
          type: string
        repo:
          type: string
        tag:
          type: string
      required:
        - username
        - password
        - repo
        - tag
    PublishModuleRequest:
      type: object
      properties:
        name:
          type: string
        version:
          type: string
        info:
          type: string
        description:
          type: string
        sdk_version:
          type: string
          description: SDK version used to build this module
        components:
          type: array
          items:
            $ref: '#/components/schemas/PublishComponent'
        requirements:
          $ref: '#/components/schemas/ModuleRequirements'
      required:
        - name
        - version
        - components
    ModuleRequirements:
      type: object
      properties:
        rbac:
          $ref: '#/components/schemas/RBACRequirements'
    RBACRequirements:
      type: object
      properties:
        enableKubernetesResourceAccess:
          type: boolean
          description: Enable access to pods, services, deployments, ingresses
        extraRules:
          type: array
          items:
            $ref: '#/components/schemas/RBACRule'
    RBACRule:
      type: object
      properties:
        apiGroups:
          type: array
          items:
            type: string
        resources:
          type: array
          items:
            type: string
        verbs:
          type: array
          items:
            type: string
    PublishComponent:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        info:
          type: string
        tags:
          type: array
          items:
            type: string
        ports:
          type: array
          items:
            $ref: '#/components/schemas/PublishComponentPort'
      required:
        - name
        - description
    PublishComponentPort:
      type: object
      properties:
        name:
          type: string
        label:
          type: string
        source:
          type: boolean
        position:
          type: integer
        schema:
          type: object
          additionalProperties: {}
        default_data:
          type: object
          additionalProperties: {}
      required:
        - name
        - source
    UpdateModuleVersionRequest:
      type: object
      properties:
        id:
          type: string
          description: Module Version ID
        repo:
          type: string
          description: Image repo
        tag:
          type: string
          description: Image tag
      required:
        - id
        - repo
        - tag
    # Support schemas
    CreateTicketRequest:
      type: object
      properties:
        email:
          type: string
        name:
          type: string
        subject:
          type: string
        message:
          type: string
      required:
        - email
        - subject
        - message
    CreateTicketResponse:
      type: object
      properties:
        ticket:
          $ref: "#/components/schemas/Ticket"
        ticket_url:
          type: string
          description: Signed URL for accessing this ticket
        tickets_url:
          type: string
          description: Signed URL for listing all tickets for this email
    Ticket:
      type: object
      properties:
        uuid:
          type: string
        subject:
          type: string
        status:
          type: string
        priority:
          type: string
        author_email:
          type: string
        author_name:
          type: string
        assignee_name:
          type: string
        tags:
          type: array
          items:
            type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        closed_at:
          type: string
          format: date-time
    TicketMessage:
      type: object
      properties:
        uuid:
          type: string
        author_type:
          type: string
        author_name:
          type: string
        content:
          type: string
        metadata:
          type: object
          additionalProperties: {}
        created_at:
          type: string
          format: date-time
    TicketDetailResponse:
      type: object
      properties:
        ticket:
          $ref: "#/components/schemas/Ticket"
        messages:
          type: array
          items:
            $ref: "#/components/schemas/TicketMessage"
    TicketListResponse:
      type: object
      properties:
        tickets:
          type: array
          items:
            $ref: "#/components/schemas/Ticket"
        total:
          type: integer
    AddMessageRequest:
      type: object
      properties:
        content:
          type: string
      required:
        - content
    UpdateTicketRequest:
      type: object
      properties:
        status:
          type: string
        priority:
          type: string
        assignee_user_id:
          type: integer
    TicketStats:
      type: object
      properties:
        open:
          type: integer
        ai_suggested:
          type: integer
        waiting_support:
          type: integer
        waiting_user:
          type: integer
        resolved:
          type: integer
        closed:
          type: integer
        total:
          type: integer

  securitySchemes:
    DeveloperToken:
      type: http
      scheme: bearer
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
security:
  - BearerAuth: [ ]


